**/xcuserdata/

Pods/Realm/core/realm-monorepo.xcframework/tvos-arm64
Pods/Realm/core/realm-monorepo.xcframework/tvos-arm64_x86_64-simulator
Pods/Realm/core/realm-monorepo.xcframework/watchos-arm64_i386_x86_64-simulator
Pods/Realm/core/realm-monorepo.xcframework/watchos-armv7k_arm64_32